<% if @other_survey %>
		<% content_for :title do %>
		<%= @survey.title %>
		<% end %>

		<% content_for :subtitle do %>
		<%= t :the_surprise %>
		<% end %>

		<p class="lead">
		<mark>Line: </mark> <%= raw t :guess_nationality_line_p1 %>
		<br>
		<mark>Line: </mark> <%= raw t :guess_nationality_line_p2 %>
		<br>
		<mark>Line: </mark> <%= raw t :guess_nationality_line_p3 %>
		<br>
		<mark>Line: </mark> <%= raw t :guess_nationality_line_p4 %>
		<br>
		</p>

		<div class="jumbotron">
		  <h2><%= raw t :guess_nationality_long %></h2>
		</div>


		<% for answered_question in @other_survey.answered_questions %>
		  <% q = answered_question.question %>
		  <% a = answered_question.answer %>
		  <% sit = q.situation %>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title"><%= raw t sit.title %></h3>
		    </div>
		    <div class="panel-body">
		    	Q: <%= raw t q.text %><br>
		    	A: <%= raw t a.text %>
		    </div>
		  </div>
		<% end %>

		<%= form_tag(next_wizard_path, method: :put) do %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><%= t :guess_nationality %></h3>
			  </div>
			  <div class="panel-body">
			  	<%= select(:user, :nationality_id, options_from_collection_for_select(Nationality.all.sort_by {|x| x.translated_name}, :id, :translated_name)) %>
			  </div>
			</div>

		  <%= submit_tag(I18n.translate(:finish)) %>
		<% end %>

<% else %>
		<div class="jumbotron">
		  <%= t :thank_you %>
		</div>
<% end %>