<% content_for :title do %>
<%= @survey.title %>
<% end %>

<% content_for :subtitle do %>
<%= raw t :getting_to_know_you %>
<% end %>

<p class="lead">
	<mark>Line:</mark> <%= raw t :own_nat_p1 %>
	<br>
	<mark>Line:</mark> <%= raw t :own_nat_p2 %>
	<br>
	<mark>Line:</mark> <%= raw t :own_nat_p3 %>
	<br>
	<mark>Line:</mark> <%= raw t :own_nat_p4 %>
</p>
<%= form_tag(next_wizard_path, method: :put) do %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= raw t :what_is_your_nat %></h3>
	  </div>
	  <div class="panel-body">
	  	<%= select(:user, :nationality_id, options_from_collection_for_select(Nationality.all.sort_by {|x| x.translated_name}, :id, :translated_name)) %>
	  </div>
	</div>

  <%= submit_tag("Next step") %>
<% end %>