<% content_for :title do %>
Survey
<% end %>

<% content_for :subtitle do %>
<%= @survey.title %>
<% end %>

<% sit = @situation %>
<div class="jumbotron">
  <%= sit.title %>
</div>

<%= form_tag(next_wizard_path, method: :put) do %>
  <% q = @question %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= q.text %></h3>
    </div>
    <div class="panel-body">
    	<% for a in q.answers %>
  	  	<%= radio_button_tag(:answer, a.id) %>
  		  <%= label_tag(a.id, a.text) %><br>
  	<% end %>
    </div>
  </div>

  <%= submit_tag("Next step") %>
<% end %>