<% content_for :title do %>
<%= @survey.title %>
<% end %>

<% content_for :subtitle do %>
<%= raw t :question %> <%= @questionNumber %>
<% end %>

<% sit = @situation %>
<div id="situation" class="jumbotron">
  <p><%= I18n.t sit.title %></p>
</div>

<%= form_tag(next_wizard_path, method: :put) do %>
  <% q = @question %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= I18n.t q.text %></h3>
    </div>
    <div class="panel-body">
      <% i = 0 %>
    	<% for a in q.answers %>
  	  	<%= radio_button_tag(:answer, a.id, i == 0) %>
        <% a_text = I18n.t a.text %>
        <%= label_tag('answer_' + a.id.to_s, a_text) %><br>
        <% i = i + 1 %>
  	<% end %>
    </div>
  </div>

  <%= submit_tag(I18n.translate(:next_step)) %>
<% end %>