<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Correctly guessed nationalities'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "Brands",
            colorByPoint: true,
            data: [{
                name: "Correctly",
                y: <%= @correctly_guessed %>
            }, {
                name: "Incorrectly",
                y: <%= @incorrectly_guessed %>
            }]
        }]
    });


    $('#container_continent').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Correctly guessed continents'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "Brands",
            colorByPoint: true,
            data: [{
                name: "Correctly",
                y: <%= @correctly_guessed_continent %>
            }, {
                name: "Incorrectly",
                y: <%= @incorrectly_guessed_continent %>
            }]
        }]
    });
});
</script>
<div class="page-header">
  <h1>Tolerance <small>Result</small></h1>
</div>


<p class="lead">
<mark>Line:</mark> Did you guess correctly? What do you think? And what does it mean if you guessed incorrectly?
<br>
<mark>Line:</mark> Of course it's difficult to guess exactly the right nationality;
<br>
<mark>Line:</mark> But since earth only has a few continents chances that you guess the correct one are fair.
<br>
</p>

<% if @you_guessed_correctly %>
<div class="alert alert-success" role="alert">
You guessed correctly!
</div>
<% else %>
<div class="alert alert-danger" role="alert">
Your guess (<%= Nationality.find(@your_guess).name %>) was incorrect! The person's true nationality was <b><%= Nationality.find(@true_nationality).name %></b>.
</div>
<% end %>

<% if @you_guessed_correctly_continent %>
<div class="alert alert-success" role="alert">
You guessed a nationality on the correct continent (<%= Nationality.find(@your_guess).name %> and <b><%= Nationality.find(@true_nationality).name %></b> both belong to <%= Nationality.find(@your_guess).continent.name %>)!
</div>
<% else %>
<div class="alert alert-danger" role="alert">
The continent of your guess (<%= Nationality.find(@your_guess).name %> belongs to <%= Nationality.find(@your_guess).continent.name %>) was incorrect! The person's true nationality was <%= Nationality.find(@true_nationality).name %>, which belongs to <b><%= Nationality.find(@true_nationality).continent.name %></b>.
</div>
<% end %>


<p class="lead">
<mark>Line:</mark> As you probably guessed already. I also asked all the other people to guess another persons nationality.
<br>
<mark>Line:</mark> How many do guess correctly? What do you think?
<br>
<mark>Line:</mark> Well, look for yourself:
<br>
</p>

<div class="row">
    <div class="col-lg-6">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto; float: left;"></div>
    </div>
    <div class="col-lg-6">
        <div id="container_continent" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>
    </div>
</div>

<p class="lead">
<mark>Line:</mark> Surprised?
<br>
</p>