<script type="text/javascript">
  $(function(){
      $("#typed_container_1").typed({
          stringsElement: $('#typed_strings_1'),
          //strings: ["1","2"],
          typeSpeed: 5,
          startDelay: 0,
          onTyped: function(i) {
            // scroll the panel
            var d = $('#bla');
            d.scrollTop(d.prop("scrollHeight"));
          }
      });
  });
</script>

<% content_for :title do %>
  Tolerance
<% end %>

<div id="typed_strings_1">
<p><mark>???:</mark> ^1000 <%= raw t 'line_p1' %> ^1000 <%= raw t 'line_p1_1' %>
  <br>
  <mark>???:</mark> ^500 <%= raw t 'line_p2' %>
  <br>
  <mark>???:</mark> ^1000 <%= raw t 'line_p3' %>
  <br><br>
  <mark>???:</mark> ^1000 <%= raw t 'line_p4' %> ^500 <%= raw t 'line_p4_1' %> ^500 <%= raw t 'line_p4_2' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p5' %> ^500 <%= raw t 'line_p5_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p6' %> ^500 <%= raw t 'line_p6_1' %> ^500 <%= raw t 'line_p6_2' %>^100<%= raw t 'line_p6_3' %>^100<%= raw t 'line_p6_4' %>^100 <%= raw t 'line_p6_5' %>
  <br><br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p7' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p8' %> ^1000 <%= raw t 'line_p8_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p9' %> ^1000 <%= raw t 'line_p9_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p10' %> ^1000 <%= raw t 'line_p10_1' %> ^500 <%= raw t 'line_p10_2' %>
  <br><br>
  <mark>Line:</mark> ^2000 <%= raw t 'line_p11' %> ^1000 <%= raw t 'line_p11_1' %> ^1000 <%= raw t 'line_p11_2' %> ^500<%= raw t 'line_p11_3' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p12' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p13' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p14' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p15' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p16' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p17' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p18' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p19' %> ^1000 <%= raw t 'line_p19_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p20' %> ^1000 <%= raw t 'line_p20_1' %>
  <br>
  <br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p21' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p22' %> ^1000 <%= raw t 'line_p22_1' %> ^500 <%= raw t 'line_p22_2' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p23' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p24' %> ^1000 <%= raw t 'line_p24_1' %>
  <br>
  <mark>Line:</mark> ^2000 <%= raw t 'line_p25' %> ^1000 <%= raw t 'line_p25_1' %> ^1000 <%= raw t 'line_p25_2' %> ^1000 <%= raw t 'line_p25_3' %> ^1000 Here we go ...
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p26' %> ^1000 <%= raw t 'line_p26_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p27' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p28' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p29' %> ^1000 <%= raw t 'line_p30' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p31' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p32' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p33' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p34' %>
  <br
  <mark>Line:</mark> ^1000 <%= raw t 'line_p35' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p36' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p37' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p38' %> ^1000 <%= raw t 'line_p38_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p40' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p41' %> ^1000 <%= raw t 'line_p41_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p42' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p43' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p44' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p45' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p46' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p47' %>
  <br><br>
  <mark>Line:</mark> ^3000 <%= raw t 'line_p48' %> ^1000 <%= raw t 'line_p48_1' %> ^1000 <%= raw t 'line_p48_2' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p49' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p50' %> ^1000 <%= raw t 'line_p50_1' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p51' %> ^1000 <%= raw t 'line_p52' %> ^500 <%= raw t 'line_p53' %>
  <br><br>

  <mark>Line:</mark> ^3000 <%= raw t 'line_p54' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p55' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p56' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p57' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p58' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p59' %> ^500 <%= raw t 'line_p59_1' %> ^500 <%= raw t 'line_p59_2' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p60' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p61' %> ^500 <%= raw t 'line_p61_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p62' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p63' %> ^500 <%= raw t 'line_p63_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p64' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p65' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p66' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p67' %> ^500 <%= raw t 'line_p67_1' %> ^500 <%= raw t 'line_p67_2' %> ^500 <%= raw t 'line_p67_3' %> ^500 <%= raw t 'line_p67_4' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p68' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p69' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p70' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p71' %> ^500 <%= raw t 'line_p71_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p72' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p73' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p74' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p75' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p76' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p77' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p78' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p79' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p80' %> ^500 <%= raw t 'line_p80_1' %> ^500 <%= raw t 'line_p80_2' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p81' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p82' %> ^500 <%= raw t 'line_p82_1' %> ^500 <%= raw t 'line_p82_2' %> ^500 <%= raw t 'line_p82_3' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p83' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p84' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p85' %>
  <br>
  <mark>Line:</mark> ^500 <%= raw t 'line_p86' %>
  <br>
  <mark>Line:</mark> ^500 <%= raw t 'line_p87' %>
  <br>
  <mark>Line:</mark> ^500 <%= raw t 'line_p88' %> ^500 <%= raw t 'line_p88_1' %> ^500 <%= raw t 'line_p88_2' %> ^500 <%= raw t 'line_p88_3' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p89' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p90' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p91' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p92' %> ^1000 <%= raw t 'line_p92_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p93' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p94' %>
  <br><br>
  <mark>Line:</mark> ^5000 <%= raw t 'line_p95' %>
  <br>
  <mark>Line:</mark> ^3000 <%= raw t 'line_p96' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p97' %>
  <br><br>

  <mark>Line:</mark> ^5000 <%= raw t 'line_p98' %> ^1000 <%= raw t 'line_p98_1' %>
  <br>
  <mark>Line:</mark> <%= raw t 'line_p99' %> ^500 <%= raw t 'line_p99_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p100' %> ^500 <%= raw t 'line_p100_1' %> ^500 <%= raw t 'line_p100_2' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p101' %> ^500 <%= raw t 'line_p101_1' %>
  <br><br>

  <mark>Line:</mark> ^1000 <%= raw t 'line_p102' %> ^500 <%= raw t 'line_p102_1' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p103' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p104' %>
  <br><br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p105' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p106' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p107' %>
  <br>
  <mark>Line:</mark> ^1000 <%= raw t 'line_p108' %>
  <br><br>

  <mark>Line:</mark> ^3000 <%= raw t 'line_p109' %> ^500 <%= raw t 'line_p109_1' %> ^500 <%= raw t 'line_p109_2' %></p>
</div>
<div id="bla" style="overflow:auto;overflow-x:hidden;height:400px;max-height:400px;font-size:200%;">
<span id="typed_container_1"></span>
</div>
<div style="text-align:right;">
  <%= raw t('line_intro_skip_to_survey') %> <a href="<%= url_for :survey_id => 0, :controller => :take_surveys, :action => :index %>"><%= raw t('line_intro_skip_to_survey_first_question') %></a>.
</div>
<div style="text-align:right;">
  <%= raw t('line_intro_skip_to_summary') %> <a href="<%= url_for :survey_id => 0, :action => :summary %>"><%= raw t('line_intro_skip_to_summary_1') %></a> <%= raw t('line_intro_skip_to_summary_2') %>.
</div>.
</div>