<div class="page-header">
<h1><%= t('contribute_title') %></h1>
</div>

<p class="lead">
	<%= t('contribute_p1') %>
</p>
<p>
	<%= raw t('contribute_p2') %>
</p>

<dl class="dl-horizontal">
	<dt><%= raw t('translaters') %></dt><dd><%= raw t('contribute_translators_text') %></dd>
	<dt><%= raw t('designers') %></dt><dd><%= raw t('contribute_designers_text') %></dd>
	<dt><%= raw t('writers') %></dt><dd><%= raw t('contribute_writers_text') %></dd>
	<dt><%= raw t('programmers') %></dt><dd><%= raw t('contribute_programmers_text') %></dd>
</dl>

<p>
	<%= raw t('you_can_find_tolerance_on_github') %>
</p>
